<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGC_Gerenciamento_de_Compras.Properties.Settings.SGC_DBConnectionString"
            connectionString="Data Source=DESKTOP-75NR56H\SQL2012;Initial Catalog=SGC_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>